.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  max-width: 500px;
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}